<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.austmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/managementicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".algobbok"
            android:parentActivityName=".showbookpdffor22"
            >
        </activity>
        <activity android:name=".mathbook"
            android:parentActivityName=".showbookpdffor22"
            />
        <activity android:name=".showbookpdffor22"

            android:parentActivityName=".coursematerialActivity"
            />
        <activity android:name=".coursematerialActivity"

            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activityfor21"
            android:parentActivityName=".ThirdActivity" />
        <activity
            android:name=".CalculatingCgpaActivity"
            android:parentActivityName=".ThirdActivity" />
        <activity
            android:name=".ThirdActivity"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".Framelayout"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".websiteactivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>